/dist
/dist-newstyle
/*/dist
/*/dist-newstyle
**/*.o
**/*.hi
.stack-work
/tags
/TAGS
.ghc.environment*
/cabal.project.local

# Profiling and flamegraphs
/gi-gtk-*.prof
/gi-gtk-*.svg
/example.prof
/example.svg
